.navbar .navbar-item .nav-item.theme-logo {
    margin-left: 0;
}
.navbar .navbar-item .nav-item.theme-logo a img{
    width: 130px;
    height: auto;
}


 #user-title {
     padding-top: 13px;
     color: #000;
 }

 .subscription-info-bar {
     padding: 7px;
     color: red;
     font-weight: 600;
     letter-spacing: 1px;
 }

 .error-display-bar {
     margin: 0 20%;
 }

.error-display-bar .alert{
    margin-bottom: 0;
    padding: 10px 25px 0 0;
}
.sidebar-theme #compactSidebar {
    background: linear-gradient(180deg,#303a4f,#2a3345);
}

.sidebar-wrapper #compactSidebar .menu-categories a.menu-toggle{
    height: 120px;
}

.sidebar-wrapper #compactSidebar .menu-categories .menu:hover {
    color: #5c1ac3;
    font-weight: 600;
    transition: .300s;
    background-color: #3f4a65;
    box-shadow: 0px 1px 3px 0.5px rgb(0 0 0 / 5%);
}

.sidebar-wrapper #compactSidebar .menu-categories .menu:hover .base-menu{
    padding-left: 2px;
}

.navbar .navbar-item .nav-item.user-profile-dropdown .dropdown-menu .user-profile-section{
    background-image: linear-gradient(to top, #212529 0%, #343a40 52%, #616671 100%);
}

.sidebar-wrapper #compactSidebar .menu-categories a.menu-toggle .base-icons svg{
    color: #28a745;
}

.navbar .navbar-item .nav-item.user-profile-dropdown .nav-link img,
.navbar .navbar-item .nav-item.user-profile-dropdown .dropdown-menu .user-profile-section .media img{
    border: 2px solid #28a745;
}

.dashboard-widget-table .table > tbody > tr > td {
    text-align: center;
}

.StripeElement {
    background-color: white;

    height: auto;
    border: 1px solid #bfc9d4;
    color: #3b3f5c;
    font-size: 15px;
    padding: 8px 10px;
    letter-spacing: 1px;
    height: calc(1.4em + 1.4rem + 2px);
    padding: .75rem 1.25rem;
    border-radius: 3px;
}
.StripeElement--focus {
    box-shadow: 0 0 5px 2px rgb(194 213 255 / 62%);
    border-color: #1b55e2;
    color: #3b3f5c;
}
.StripeElement--invalid {
    border-color: #fa755a;
}
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.pricing--norbu .pricing__item:hover {
    color: #1b55e2;
    border: 3px solid #1b55e2;
}

.pricing--norbu .pricing__item{
    border: 3px solid #3b3f5c;
}
.pricing--norbu .pricing__item.price-selected {
    border: 4px solid #28a745;
}

.pricing__item.price-selected .pricing__title::after {
    background: #28a745;
    height: 4px;
}

.pricing--norbu .price-selected .pricing__action{
    background: #28a745;
}

@media (min-width: 1500px) {
    .navbar .navbar-item .nav-item .form-inline.search .search-form-control {
        width: 780px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .navbar .navbar-item .nav-item .form-inline.search .search-form-control {
        width: 500px;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .navbar .navbar-item .nav-item .form-inline.search .search-form-control {
        width: 300px;
    }
}


.navbar .navbar-item .nav-item.search-animated svg{
    color: #5c1ac3;
}
