*, :after, :before {
    box-sizing: border-box;
}

body {
    font-family: Proxima,sans-serif;
    font-size: 16px;
    color: #464662;
    line-height: 1.55;
    font-weight: 400;
    text-align: left;

}

body .inputHolder {
    position: relative;
    border-radius: 5px;
    border: 1px solid #e8e8eb;
    -webkit-transition: .3s ease-in-out;
}
body .inputHolder:before, body .inputHolder input, body .inputHolder select, body .inputHolder textarea {
    font-family: Proxima,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
}
body .inputHolder:before {
    left: 22px;
    z-index: 1;
    color: #a2a2b0;
    position: absolute;
    pointer-events: none;
    content: attr(inputTitle);
    -webkit-transition: .3s ease-in-out;
    padding: 2px 6px;
    display: block;
}
body .inputHolder input, body .inputHolder select, body .inputHolder textarea {
    border: 0;
    width: 100%;
    min-height: 50px;
    border-radius: 5px;
    padding-left: 22px;
    background-color: hsla(0,0%,100%,0);
    text-align: left;
}


.html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.div {
    display: block;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1051;
}
body .inputHolder input, body .inputHolder select, body .inputHolder textarea {
    border: 0;
    width: 100%;
    border-radius: 5px;
    padding-left: 22px;
    background-color: hsla(0,0%,100%,0);
    text-align: left;
}
body .inputHolder:before, body .inputHolder input, body .inputHolder select, body .inputHolder textarea {
    font-family: Proxima,sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
}
body .inputHolder .focusIn { border:1px solid #17173a;}
body .inputHolder:before {
    z-index: 1;
    position: absolute;
    pointer-events: none;
    content: attr(inputTitle);
    -webkit-transition: .3s ease-in-out;
    padding: 2px 6px;
    display: block;
}

.backpack.dropzone {
  font-family: 'SF UI Display', 'Segoe UI';
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 150px;
  font-weight: lighter;
  color: white;
  will-change: right;
  z-index: 2147483647;
  bottom: 20%;
  background: #333;
  position: fixed;
  user-select: none;
  transition: left .5s, right .5s;
  right: 0px; }
  .backpack.dropzone .animation {
    height: 80px;
    width: 250px;
    background: url("chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/assets/backpack/dropzone/hoverstate.png") left center; }
  .backpack.dropzone .title::before {
    content: 'Save to'; }
  .backpack.dropzone.closed {
    right: -250px; }
  .backpack.dropzone.hover .animation {
    animation: sxt-play-anim-hover 0.91s steps(21);
    animation-fill-mode: forwards;
    background: url("chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/assets/backpack/dropzone/hoverstate.png") left center; }

@keyframes sxt-play-anim-hover {
  from {
    background-position: 0px; }
  to {
    background-position: -5250px; } }
  .backpack.dropzone.saving .title::before {
    content: 'Saving to'; }
  .backpack.dropzone.saving .animation {
    background: url("chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/assets/backpack/dropzone/saving_loop.png") left center;
    animation: sxt-play-anim-saving steps(59) 2.46s infinite; }

@keyframes sxt-play-anim-saving {
  100% {
    background-position: -14750px; } }
  .backpack.dropzone.saved .title::before {
    content: 'Saved to'; }
  .backpack.dropzone.saved .animation {
    background: url("chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/assets/backpack/dropzone/saved.png") left center;
    animation: sxt-play-anim-saved steps(20) 0.83s forwards; }

@keyframes sxt-play-anim-saved {
  100% {
    background-position: -5000px; } }

.article, .aside, .figcaption, .figure, .footer, .header, .hgroup, .main, .nav, .section {
    display: block;
}
.navbar-primary .navbar-brand {
    min-width: calc(2.5625rem + 15.75vw);
    text-align: center;
}
.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgba(0,0,0,.9);
}
.navbar-brand {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
span.main_swappable__nS-Xf {
    opacity: 1; transform: translateY(0px); color: rgb(255, 161, 5);
}










.navbar-primary .navbar-brand img {
    max-height: 96px;
    margin-top: -13px;
    margin-bottom: -28px;
}
.navbar-primary .navbar-brand .white {
    display: none;
}

.img {
    vertical-align: middle;
        border-style: none;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.a {
    text-decoration: none;
    background-color: transparent;
    font-family: #eee;
    font-size: #eee;
    color: #eee;
    line-height: #eee;
}
.navbar-Banner {
    display: block;
    padding-top: 0;
}
.navbar-primary {
    position: relative;
    z-index: 2;
        padding: 15px 0 0 0;
}
nav.navbar.navbar-expand-lg.navbar-light.navbar-primary.navbar-Banner {
    background: white;
}

.navbar-primary .btn-actions-light .btn-account {
    background: #ffb400;
    color: #fff;
    margin: 14px;
    margin-top: -9px;
}
.navbar-primary .btn-account {
    padding: 12px 20px;
    border-radius: 3px;
}
.navbar-Banner .row--banner-included {
    display: flex;
    padding: 25px 10px 0;
    justify-content: space-between;
}

.navbar-primary .btn-account {
    padding: 12px 20px;
    border-radius: 3px; 
}


.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.mr-5, .mx-5 {
    margin-right: 3rem!important;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.megamenu.megamenu-for-mobile {
    display: none;
}
.dl, .ol, .ul {
    margin-top: 0;
}
.ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.style attribute {
    --skew-angle: 23.84;
    --view-width: 1366;
}

body .purple {
    color: #783ff1;
    font-family: Gilroy,sans-serif;
    font-weight: 400;
}
body .inputHolder.focusIn {
    border: 1px solid #17173a;
}
body .inputHolder {
    position: relative;
    border-radius: 5px;
    -webkit-transition: .3s ease-in-out;
}
p.main_1 {
    text-align: center;
    font-size: large;
}
:root {
    --c-white: #fff;
    --c-athens-gray: #fafafb;
    --c-text-subdued: #464662;
    --c-ugc: #ffa105;
    --c-lr-light: #783ff1;
    --c-lr-gradient: linear-gradient(159.93deg,#ad61ce 18.55%,#783ff1 77.67%);
    --g-section-padding: 130px;
    --g-row-margin: 100px;
    --g-row-margin-modifier: 1;
    --g-gutter: 15px;
    --g-width: 1140px;
    --skew-degrees: 5;
    --skew: calc(var(--skew-angle) * var(--skew-degrees) * 1px);
    --skew-padding: 100px;
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #ffcb05;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #ffcb05;
}
.navbar{
    align-items: center;
}
.navbar-Banner .row--banner-included {
    display: flex;
    padding: 0px 10px 0;
    justify-content: space-between;
}
.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-collapse {
    flex-grow: 1;
    align-items: center;
}
.navbar-primary .navbar-nav:first-child {
    margin-left: 30px;
    margin-top: -15px;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
.navbar-primary.floating .nav-item .nav-link {
    color: #17173a;
}
.navbar-primary .nav-item .nav-link {
    font-family: Gilroy,sans-serif;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1rem;
    letter-spacing: .3px;
    padding: 17px 15px;
}
.main_section__1ccNr .main_wrapper--hero__m_t_0 .main_textWrapper__2OKT0 h1 span.main_swappable__nS-Xf {
    color: #ffa105;
    will-change: transform,opacity,color;
}
.noClick {
    pointer-events: none;
}
.nav-link {
    display: block;}

.dropdown-toggle {
    white-space: nowrap;
}
[role=button] {
    cursor: pointer;
}
.navbar-primary .dropdown-toggle:after {
    content: "";
    border: none;
}
.dropdown-toggle:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    }
.megamenu .dropdown-menu {
    width: 888px;
    padding: 0;
    background: #fff;
    box-shadow: 0 24px 40px rgb(23 23 58 / 12%);
    border-radius: 12px;
    border: none;
}
.navbar-nav .dropdown-menu {
    float: none;
}
.dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
}
.navbar-primary .nav-item.desktop-hide {
    display: none;
}
.button, .input {
    overflow: visible;
}
.megamenu .dropdown-menu .dropdown-menu__fullSuite {
    background: #f8f8f8;
}
.dropdown-menu {
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
}
.megamenu .dropdown-menu .dropdown-menu__fullSuite a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    color: #464662;
}
a {
    text-decoration: none;
    color: #eee;
    background-color: transparent;
}
.dropdown-menu {
    font-size: 1rem;
    text-align: left;
    list-style: none;}

    .megamenu .dropdown-menu .dropdown-menu__innerWrapper {
    padding: 24px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.megamenu .dropdown-menu .item-title {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    position: relative;
}
.megamenu .dropdown-menu .item-title .icon {
    margin-right: 1rem;
}
.img {
    max-width: 100%;
    border-style: none;
    vertical-align: middle;
}



.megamenu .dropdown-menu .menu-item .icon .img {
    width: 100%;
}

.megamenu .dropdown-menu .menu-item .content {
    margin-left: 23px;
    padding-right: 50px;
    width: calc(100% - 30px);
}
.megamenu .dropdown-menu .menu-item .h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #17173a;
    margin-bottom: 0;
}
.h4{
    margin-top: 0;
    font-family: Gilroy,sans-serif;
    color: #17173a;
    font-weight: 600;
    margin-bottom: 0.5rem;
}



.megamenu .dropdown-menu .menu-item .icon {
    width: 30px;
    height: 28px;
    display: flex;
}



.megamenu .dropdown-menu .menu-item .content p {
    margin: 0;
}
.megamenu .dropdown-menu .menu-item p {
    font-size: 14px;
    line-height: 20px;
    color: #464662;
}

.megamenu .dropdown-menu .menu-item {
    margin-left: 23px;
    display: flex;
    align-items: flex-start;

    position: relative;
}
h4 {
    font-family: Gilroy,sans-serif;
    color: #17173a;
}



.megamenu .dropdown-menu .menu-item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.megamenu .dropdown-menu .item-title .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: .3px;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar-primary .nav-item .nav-link.nav-link--icon {
    display: flex;
    align-items: center;
}
.navbar-primary .nav-item .nav-link {
    font-family: Gilroy,sans-serif;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1rem;
    letter-spacing: .3px;
    color: #17173a;
    padding: 17px 15px;
}

.navbar-primary .nav-item .nav-link.nav-link--icon svg {
    display: none;
    margin-right: 10px;
}
svg {
    overflow: hidden;
     vertical-align: middle;
}

.megamenu.megamenu-for-mobile  {
    display: none;
}
.navbar-primary .nav-item .nav-link {
    font-family: Gilroy,sans-serif;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1rem;
    letter-spacing: .3px;
    color: #17173a;
    }

body .purple {
    color: #df2d2d;
    font-family: Gilroy,sans-serif;
    font-weight: 400;
}
.get-started_wrapper__11EWV input {
    height: 46px;
    padding: 8px 16px 8px 15px;
}

.megamenu .dropdown-menu {
    background: #fff;
    box-shadow: 0 24px 40px rgb(23 23 58 / 12%);
    border-radius: 12px;
    border: none;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.navbar-primary .btn-create-account {
    padding: 12px 20px;
    background: #17173a;
    border-radius: 3px;
    color: #fff;
}
.btn {
    font-family: Gilroy,sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1rem;
    letter-spacing: .01875rem;
}
.btn {
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
}
.border-0 {
    border: 0!important;
}
.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border-radius: 0.25rem;
}
.navigation__trigger {
    display: block;
    position: relative;
    width: 24px;
    height: 16px;
    padding: 0;
    outline: 0;
    border: none;
    background: 0 0;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.button {
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
        margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0;
}
.navigation__trigger span:first-child {
    top: 0;
}
.navigation__trigger span {
    opacity: 1;
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #17173a;
    border-radius: 9px;
    transform: rotate(0);
    transition: .25s ease-in-out;
}
.navigation__trigger span:nth-child(2), .navigation__trigger span:nth-child(3) {
    top: 7px;
}
.navigation__trigger span:nth-child(3) {
    top: 7px;
}
.navigation__trigger span:nth-child(4) {
    top: 14px;
}
.mr-auto {
    margin-right: auto!important;
}
.nav-link {
    display: block;
}

.megamenu .dropdown-menu .dropdown-menu__fullSuite a>div {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.megamenu .dropdown-menu .dropdown-menu__fullSuite a>div>div:first-child {
    max-width: 96px;
    margin-right: 30px;
}
.LogoCube_wrapper__1zRZD.LogoCube_suite__1PiP7 {
    background: linear-gradient(
239.61deg,#aa3fff -13.17%,#ff883b 42.25%,#ffc700 97.35%);
}
.LogoCube_wrapper__1zRZD {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}
.testimonial_wrapper__354Ro {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: transform,opacity;
}
.megamenu .dropdown-menu .dropdown-menu__fullSuite a {
    color: #464662;
}
.LogoCube_wrapper__1zRZD svg {
    max-width: 162px;
    width: 100%;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
.LogoCube_wrapper__1zRZD {
    text-align: center;
}
.text_wrapper__1wumA {
    max-width: var(--text-width,100%);
    margin-bottom: var(--text-margin-bottom,0);
    text-align: left;
}
.megamenu .dropdown-menu .dropdown-menu__fullSuite a h4 {
    margin-bottom: 8px;
}
.heading_4 {
    font-size: 21px;
    line-height: 26px;
}
.text_wrapper__1wumA p:last-child {
    margin-bottom: 0;
}
.xsmall {
    font-size: 14px;
    line-height: 20px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.megamenu.megamenu-for-mobile, .sideNav {
    display: none;
}
.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.megamenu .subMenuSP .backToMenu {
    padding: 10px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #17173a;
    margin-bottom: 15px;
}
.megamenu .subMenuSP .backToMenu img {
    height: 24px;
    margin-right: 30px;
}
.megamenu.reviewMenu .item-title {
    border-bottom: 2px solid #ffc769;
}
.megamenu .subMenuSP .item-title {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}
.megamenu .subMenuSP .item-title .icon {
    margin-right: 1rem;
}
.megamenu .subMenuSP .item-title .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: .3px;
}
.megamenu .subMenuSP .menu-item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #e8e8eb;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}
.megamenu .subMenuSP .menu-item .icon {
    width: 32px;
    height: auto;
}
.megamenu .subMenuSP .menu-item .content {
    margin-left: 23px;
    width: calc(100% - -20px);
}
.megamenu .subMenuSP .menu-item h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #17173a;
    margin-bottom: 0;
}
.megamenu .subMenuSP .menu-item .content p {
    margin: 0;
}
.megamenu .subMenuSP .menu-item p {
    font-size: 14px;
    line-height: 20px;
    color: #464662;
}
.megamenu .subMenuSP .menu-item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}
.megamenu.rewardMenu .item-title {
    border-bottom: 2px solid #ae8cf7;
}
h4 {
    font-family: Gilroy,sans-serif;}
.navbar-primary .btn-actions-light .btn-login {
    color: #fff;
    background: rgb(255 179 0);
}
.navbar-primary .btn-login {
    padding: 12px 20px;
    background: rgba(23,23,58,.15);
    border-radius: 3px;
    color: #17173a;
    margin-right: 1rem;
    margin-top: -10px;
}
.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.main_section__1ccNr {
    position: relative;
    padding-top: 180px;
}
.main_section__1ccNr .main_dots__1Z-6p {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.main_section__1ccNr .main_logosWrapper__1lo4f, .main_section__1ccNr .main_wrapper__1v2Nz {
    position: relative;
    z-index: 2;
}

.main_section__1ccNr .main_wrapper--hero__m_t_0 .main_textWrapper__2OKT0 {
    margin-right: 38px;
    max-width: 450px;
}
.main_section__1ccNr .main_wrapper--hero__m_t_0 .main_textWrapper__2OKT0 h1 {
    margin-bottom: 10px;
}
h1 {
    line-height: 73px;
    font-size: 66px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Gilroy,sans-serif;
    color: #17173a;
    font-weight: 600;
    margin-top: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}
.main_section__1ccNr .main_wrapper--hero__m_t_0 .main_textWrapper__2OKT0 h1 span.main_with__29urq {
    margin-right: 16px;
}
.main_section__1ccNr .main_wrapper--hero__m_t_0 .main_textWrapper__2OKT0 h1 span {
    display: inline-block;
    line-height: 79px;
}
.main_section__1ccNr .main_wrapper--hero__m_t_0 .main_textWrapper__2OKT0 h1 span.main_swappable__nS-Xf {
    will-change: transform,opacity,color;
}
.main_section__1ccNr .main_wrapper--hero__m_t_0 .main_textWrapper__2OKT0 .main_heroCopy__3gfMf {
    margin-bottom: 30px;
}
.get-started_wrapper__11EWV {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 30px rgb(23 23 58 / 6%);
    background: #fff;
    margin-bottom: 10px!important;
}
.get-started_wrapper__11EWV.inputHolder.get-started_error__W8HIq input {
    color: #e8191f;
}
.get-started_wrapper__11EWV.inputHolder:before {
    top: 8px;
    background-color: #fff;
}
.get-started_wrapper__11EWV.inputHolder input {
    min-height: 46px;
}
.get-started_wrapper__11EWV input {
    height: 46px;
    padding: 8px 16px 8px 15px;

}
button, input, optgroup, select, textarea {
    margin: 0;
    }
.button_btn__L6SHM.button_color-pg__35yAB, .button_btn__L6SHM.button_color-pg__35yAB:hover {
    color: #fff;
}
.button_btn__L6SHM.button_fill-or__Igr8j {
    border-color: #ffa105;
    background: linear-gradient(
222.95deg,#ffb905 -1.72%,#f90 81.45%);
}
.get-started_wrapper__11EWV button {
    flex-shrink: 0;
    border: none;
    border-radius: 0 4px 4px 0;
}
button:not(:disabled) {
    cursor: pointer;
}
.button_btn__L6SHM {
    display: inline-block;
    padding: 12px 24px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
    letter-spacing: .3px;
    transition-property: color,background-color,border-color,box-shadow;
    transition-duration: .35s;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}
.button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
.button, .input, .optgroup, .select, .textarea {
    margin: 0;
    font-family: inherit;
}
.get-started_demoRequest__1bPih {
    opacity: .6;
    color: #17173a;
    font-size: .9em;
    font-weight: 600;
    position: relative;
    padding-right: 20px;
}
.get-started_demoRequest__1bPih:after {
    content: "";
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    display: inline-block;
    top: 22%;
    transform: translateY(-50%);
    border-top: 2px solid #17173a;
    border-right: 2px solid #17173a;
    transform: rotate(
45deg);
}
.main_section__1ccNr .main_slider__19Y_y {
    position: relative;
    height: 500px;
    width: 450px;
}
.testimonial_wrapper__354Ro {
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: transform,opacity;
}
.testimonial_wrapper__354Ro .testimonial_inner__39sMv {
    position: relative;
    z-index: 2;
    height: 100%;
    text-align: right;
}

.testimonial_wrapper__354Ro .testimonial_inner__39sMv .testimonial_image__1-DtJ>div {
    border-radius: 13px;
    box-shadow: 0 20px 20px rgb(23 23 58 / 6%);
}
.testimonial_wrapper__354Ro .testimonial_inner__39sMv .testimonial_blocks__3t4PZ {
    position: absolute;
    top: 16%;
    right: -10%;
    width: 308px;
}
.testimonial_wrapper__354Ro .testimonial_inner__39sMv .testimonial_blocks__3t4PZ .testimonial_block__1q_Hs{
display: flex;
    position: absolute;
    max-width: 308px;
    padding: 16px 22px;
    text-align: left;
    border-radius: 10px;
    will-change: transform,opacity;
}
.main_section__1ccNr .main_rectangle__2VaGt {
    position: absolute;
    top: -5%;
    right: 0;
    z-index: 1;
    width: 50vw;
}
.main_section__1ccNr .main_wrapper--hero__m_t_0 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}
.navbar, .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
align-items: center;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.megamenu .dropdown-menu .menu-item {
    margin-left: 23px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #e8e8eb;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    position: relative;
}
.megamenu .dropdown-menu .menu-item {
    margin-left: 23px;
    display: flex;
    align-items: flex-start;
    position: relative;
}
.points_wrapper__2KbaB {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    will-change: transform,opacity;
}
.testimonial_wrapper__354Ro .testimonial_inner__39sMv .testimonial_blocks__3t4P .testimonial_block__1q_Hs {
    
    display: flex;
    position: absolute;
    max-width: 308px;
    padding: 16px 22px;
    text-align:left;
    background: #fff;
    box-shadow: 0 20px 20px rgb(23 23 58 / 6%);
    border-radius: 10px;
    will-change: transform,opacity;
}
.main_section__1ccNr .main_logosWrapper__1lo4f h4 {
    margin-bottom: 24px;
    text-align: center;
}
.navbar-primary.floating {
    background-color: #fff;
    box-shadow: 5px 5px 34px 5px rgb(0 0 0 / 5%);
}
.navbar, .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
    align-items: center;
}
.navbar-primary .navbar-brand {
    text-align: center;
}
.navbar-primary.floating .btn-actions-light .btn-account, .navbar-primary.floating .btn-create-account {
    color: #fff;
    background: #17173a;
}
.navbar-primary .btn-create-account {
    padding: 12px 20px;
    border-radius: 3px;
}
.main_section__1ccNr .main_logosWrapper__1lo4f .main_logos__3V1kS {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_section__1ccNr .main_logosWrapper__1lo4f .main_logos__3V1kS .main_logo__e_bM4 {
    padding: 20px 40px;
}
.marketing-solutions .container, .marketing-solutions .cta-style-one {
    z-index: 1;
    position: relative;
}
.section-heading-style-three {
    position: relative;
}
.m-b-64 {
    margin-bottom: 4rem!important;
}
.section-heading-style-three .prefix-icon {
    position: absolute;
    left: -81px;
    top: 12px;
}
.section-heading-style-three .heading-title {
    margin-bottom: 24px;
    letter-spacing: -.4px;
}
.section-heading-style-three .heading-desc {
    color: #464662;
    letter-spacing: .3px;
    font-family: Proxima;
    font-style: normal;
    font-weight: 300;
}
.marketing-solutions .marketing-solution-item__icon {
    width: 80px;
    height: 80px;
}
h3 {
    font-size: 50px;
}
h4 {
    font-size: 44px;
}
.marketing-solutions .marketing-solution-item .btn {
    justify-content: center;
    background: #ffb400;
    border-radius: 3px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;

}
 a.btn.orangeBgBtn {
 margin-top: calc(-6.48125rem + 3.225vw);
}
.orangeBtn {
    border: 1px solid #ffb400;
    box-sizing: content-box;
    color: #17173a;
    padding: 16px 35px!important;
    display: inline-block!important;
}
.purpleBtn {
    border: 1px solid #ffb400;
    box-sizing: content-box;
    color: #17173a;
    padding: 16px 35px!important;
    display: inline-block!important;
}
.cta-style-one {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 120px;
}
.cta-style-one .content-wrapper {
    border: 1.5px solid #e8e8eb;
    box-sizing: border-box;
    border-radius: 9px;
    background: #fff;
    padding: 25px;
    display: flex;
}
.cta-style-one .content-wrapper>div {
    width: 100%;
}
.align-items-center {
    align-items: center!important;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.cta-style-one .content-wrapper .btn {
    border: 1.5px solid #17173a;
    border-radius: 3px;
    padding: 16px 24px;
}
.marketing-solutions:after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    position: absolute;
    height: 100%;
    background: linear-gradient(
180deg,hsla(0,0%,100%,0) 0,hsla(0,0%,96.5%,0) 70%,#f3f3f3 94%,#f2f2f2 99%);
    
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.review-and-ucg {
    position: relative;
}

.review-and-ucg__background {
    position: absolute;
    top: 46%;
    right: 0;
    transform: translateY(-50%);
}
.btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.section-heading-style-one.section-style-one__home-section {
    margin-bottom: 44px;
}
.section-heading-style-one .heading-title {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -.025rem;
    margin-bottom: 14px;
}
.section-heading-style-one .heading-desc {
    font-size: 1rem;
    color: #464662;
    margin-bottom: 23px;
}
.section-heading-style-one.section-style-one__home-section a.orangeBgBtn {
    color: #fff;
}
.orangeBgBtn {
    padding: 16px 24px;
    border-radius: 5px;
    background: linear-gradient(to right bottom,#ffb905,#f90);

}
.list-items-style-three .list-item {
    display: flex;
}
.m-b-16 {
    margin-bottom: 1rem!important;
}
.list-items-style-three .list-item .icon {
    width: 32px;
    min-width: 32px;
}
.list-items-style-three .list-item .content {
    padding-left: 24px;
}
.list-items-style-three .list-item h5 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0.625rem;
}
.review-and-ucg .list-items-style-three .list-item .content a {
    color: #ffa105;
    transform: translate(0);
    transition: .5s ease-in-out;
}
.list-items-style-three .list-item .content p {
    font-size: .875rem;
    line-height: 1.25rem;
}
.list-items-style-three .list-item {
    display: flex;
    margin-bottom: 8px;
}
.loyalty-and-reward {
    position: relative;
}
.loyalty-and-reward__background {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.purpleBgBtn {
    color: #fff;
    padding: 16px 24px;
    border-radius: 5px;
    background: linear-gradient(to right bottom,#ad61ce,#783ff1);
}
.loyalty-and-reward .list-items-style-three .list-item .content a {
    color: #ad61ce;
    transform: translate(0);
    transition: .5s ease-in-out;
}
.testimonial-section {
    z-index: 2;
    position: relative;
}
.testimonial-section .container {
    z-index: 2;
    position: relative;
}
.testimonial-section .section-heading .heading-title {
    font-weight: 600;
    letter-spacing: -.4px;
    position: relative;
}
.section-heading .heading-title {
    margin-bottom: 24px;
}
.testimonial-section .section-heading .heading-title:before {
    content: url(https://d2oupip9s5ltdo.cloudfront.net/cdn/webassets/img/qoute.svg);
    position: absolute;
    left: -53px;
    top: -17px;
}
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
    height: auto;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-container-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform,height;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}
.swiper-slide {
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
}
.testimonial-section .testimonial {
    position: relative;
    overflow: hidden;
    box-shadow: none;
    border: none;
    padding: 0;
}
.testimonial {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background: #fff;
}
.testimonial-section .testimonial .testi-img {
    margin-bottom: calc(1.375rem + 1.5vw);
}
.testimonial-section .testimonial .testi-content p {
    font-size: calc(1.275rem + .3vw);
    font-weight: 300;
    line-height: 40px;
    color: #17173a;
}
.testimonial-section .testimonial .testi-content .marked-txt {
    background-color: #ffeccd;
}
\.testimonial-section .testimonial .testi-client-intro {
    margin-top: calc(1.375rem + 1.5vw);
}
.testimonial-section .testimonial .testi-client-intro .client-name {
    font-family: Gilroy,sans-serif;
    font-weight: 600;
    font-size: .9375rem;
    text-transform: uppercase;
    line-height: 16px;
}
.testimonial-section .testimonial .testi-client-intro .client-designation {
    font-family: Proxima,sans-serif;
    font-size: .875rem;
    line-height: 20px;
    color: #464662;
}
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
.testimonial-section .gallery-thumbs-wrapper {
    position: relative;
    padding: 0 110px;
}
.testimonial-section .gallery-thumbs-wrapper .swiper-button-next {
    right: 0!important;
    left: unset!important;
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 3.5px;
}
.swiper-button-next.swiper-button-white, .swiper-button-prev.swiper-button-white {
    --swiper-navigation-color: #fff;
}
.swiper-button-next, .swiper-button-prev {
    top: 50%;
    margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: normal;
}
.testimonial-section .gallery-thumbs {
    margin-top: 30px!important;
}
.testimonial-section .gallery-thumbs-wrapper .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-container-free-mode>.swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition-property: transform;
    box-sizing: content-box;
}
.testimonial-section .gallery-thumbs-wrapper .swiper-slide {
    text-align: center;
    cursor: pointer;
    padding: 0 18px;
    margin: 0!important;
    width: 174px!important;
}
.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.testimonial-section .gallery-thumbs-wrapper .swiper-slide .testi-img {
    margin: 0;
}

.enterprise-wrapper {
    z-index: 3;
    position: relative;
    background-color: #17173a;
}
.enterprise-wrapper .enterprise {
    z-index: 2;
    overflow: hidden;
    position: relative;
    padding-top: calc(1.875rem + 7.5vw);
    
}
.enterprise-wrapper .enterprise .enterprise-heading {
    text-align: center;
    width: 65%;
    margin: auto;
}
.enterprise-wrapper .enterprise .enterprise-heading h2 {
    font-weight: 600;
    font-size: calc(1.475rem + 2.7vw);
    line-height: calc(1.525rem + 3.3vw);
    letter-spacing: -.025rem;
    color: #fff;
    margin-bottom: calc(1.275rem + 0.3vw);
}
.enterprise-wrapper .enterprise .enterprise-heading p {
    font-size: 1rem;
    line-height: calc(1.275rem + .3vw);
    color: #d1d1d8;
    margin-bottom: calc(1.525rem + 3.3vw);
}
.enterprise-wrapper .enterprise .enterprise-heading .divider {
    align-items: center;
    position: relative;
    font-family: Gilroy,sans-serif;
    font-size: .9375rem;
    line-height: 1rem;
    letter-spacing: .125rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: calc(1.51875rem + 3.225vw);
}
.d-flex {
    display: flex!important;
}
.enterprise-wrapper .enterprise .enterprise-heading .divider:before {
    transform: rotate(
180deg);
}
.enterprise-wrapper .enterprise .enterprise-heading .divider:after, .enterprise-wrapper .enterprise .enterprise-heading .divider:before {
    content: "";
    display: block;
    flex: 1 0;
    height: 1px;
    background: linear-gradient(
90deg,#ffa105 -1.17%,rgba(120,63,241,0));
}
.enterprise-wrapper .enterprise .enterprise-heading .divider span {
    padding: 0 32px;
}
.enterprise-wrapper .enterprise .enterprise-item:before {
    content: "";
    border-left: 1.5px dashed #fff;
    top: -300%;
    height: 200em;
    display: block;
    width: 1px;
    position: absolute;
    opacity: .1;
}
.enterprise-wrapper .enterprise .enterprise-item .item-icon {
    padding-left: calc(1.26875rem + 0.225vw);
}
.enterprise-wrapper .enterprise .enterprise-item .item-title {
    letter-spacing: .3px;
    color: #fff;
    margin-top: calc(1.275rem + 0.3vw);
    margin-bottom: 1rem;
    border-left: 1px solid #ffa105;
    padding-left: calc(1.26875rem + 0.225vw);
}
.enterprise-wrapper .enterprise .enterprise-item .item-desc {
    font-size: 1rem;
    line-height: calc(1.275rem + .3vw);
    color: #e8e8eb;
    padding-left: calc(1.26875rem + 0.225vw);
}
.enterprise-wrapper .enterprise .enterprise-item .item-icon svg {
    width: 80px;
}
.enterprise-wrapper .enterprise .action {
    display: block;
    text-align: center;
    margin-top: calc(1.51875rem + 3.225vw);
}
.Section_wrapper__14rSe.Section_np__1FxX7 {
    padding: 0;
}
.Section_wrapper__14rSe {
    position: relative;
}
.IntegrationsSection_wrapper__2X-Ez {
    padding: 120px 0;
}
.IntegrationsSection_wrapper__2X-Ez h3 {
    margin-bottom: 24px;
}
.heading_1 {
    font-size: 52px;
    line-height: 55px;
}
.IntegrationsSection_wrapper__2X-Ez .IntegrationsSection_description__3aXyo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}
.IntegrationsSection_wrapper__2X-Ez .IntegrationsSection_description__3aXyo p {
    flex: 0 1 70%;
    margin: 0 15px 0 0;
}
.paragraph, .paragraph-b {
    font-family: Proxima,sans-serif;
}
.paragraph {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.IntegrationsSection_wrapper__2X-Ez .IntegrationsSection_description__3aXyo a {
    flex-shrink: 0;
}
.button_btn__L6SHM.button_fill-or__Igr8j, .button_btn__L6SHM.button_fill-pg__FSiK3, .button_btn__L6SHM.button_fill-pur__1EIYu {
    color: #fff;
}
.button_btn__L6SHM.button_fill-pg__FSiK3 {
    border-color: #ffb300;
    background: #ffb300;
}
.button_btn__L6SHM {
    display: inline-block;
    padding: 12px 24px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
    letter-spacing: .3px;
    border: 1.5px solid #17173a;
    border-radius: 5px;
    transition-property: color,background-color,border-color,box-shadow;
    transition-duration: .35s;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}
.IntegrationsSection_wrapper__2X-Ez .container-fluid {
    padding: 0;
}
.container-fluid {
    max-width: 100%;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.IntegrationsSection_wrapper__2X-Ez .IntegrationsSection_integrations__54IPA {
    margin-bottom: 64px;
}
.IntegrationsSection_wrapper__2X-Ez .IntegrationsSection_integrations__54IPA ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    will-change: transform;
}
.IntegrationsSection_wrapper__2X-Ez .IntegrationsSection_integrations__54IPA ul li {
    flex: 1 0 22%!important;
    margin: 0 8px;
    text-align: center;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgb(23 23 58 / 10%);
}
.IntegrationsSection_wrapper__2X-Ez .IntegrationsSection_integrations__54IPA:last-child {
    margin-bottom: 0;
}
.CTASection_wrapper__3kgnh {
    position: relative;
    overflow: hidden;
    padding-top: 130px;
    padding-bottom: calc(calc(var(--skew-angle) * 5) * 1px + 70px);
    background: linear-gradient(
211.85deg,#ff672e -98.67%,#ffd600 131.2%);
}
.CTASection_wrapper__3kgnh .CTASection_dot__1tTqd.CTASection_left__2-T_r {
    left: 0;
    max-width: 1135px;
    width: 70%;
}
.CTASection_wrapper__3kgnh .CTASection_dot__1tTqd {
    position: absolute;
    top: 0;
}
.CTASection_wrapper__3kgnh .CTASection_dot__1tTqd.CTASection_right__3Fx-s {
    right: 0;
    max-width: 740px;
    width: 58%;
    transform: translateY(-23%);
}
.CTASection_wrapper__3kgnh .CTASection_innerWrapper__18szp {
    margin: 0 auto;
}
.swiper-wrapper {
    height: 459px; transform: translate3d(0px, 0px, 0px);
}
.swiper-slide.swiper-slide-active {
    width: 1110px; margin-right: 10px;
}

.JoinStampedCard_wrapper__3wr0v {
    position: relative;
    overflow: hidden;
    max-width: 920px;
    padding: 64px 80px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 64px 120px rgb(23 23 58 / 24%);
}
.text_wrapper__1wumA.text_center__2Bhs5 {
    margin: 0 auto;
    text-align: center;
}
.text_wrapper__1wumA {
    max-width: var(--text-width,100%);
}
.JoinStampedCard_wrapper__3wr0v h3 {
    margin-bottom: 8px;
}
.heading_2 {
    font-size: 44px;
    line-height: 48px;
}
.JoinStampedCard_wrapper__3wr0v p {
    margin-bottom: 16px;
}
.button_btn__L6SHM.button_md__KGmnL {
    min-width: 268px;
}
.Footer_wrapper__1QAzA {
    position: relative;
    margin-top: calc(calc(var(--skew-angle) * 5) * -1px);
    padding-top: calc(calc(var(--skew-angle) * 5) * 1px - 1px);
}
.Footer_wrapper__1QAzA:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 8;
    width: 0;
    height: 0;
    border-top: calc(calc(var(--skew-angle) * 5) * 1px) solid transparent;
    border-left: 0 solid transparent;
    border-right: 100vw solid #17173a;
}
.Footer_wrapper__1QAzA .Footer_innerWrapper__cBxx6 {
    padding: 100px 0;
    background: #17173a;
}
.Footer_wrapper__1QAzA .Footer_header__1kBlJ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 54px;
}
.Footer_wrapper__1QAzA .Footer_header__1kBlJ .Footer_logo__2bRb5 {
    width: 100%;
}
.Footer_wrapper__1QAzA .Footer_header__1kBlJ .Footer_cta__PVakW {
    flex: 0 0 25%;
    padding: 0 15px;
}
.button_btn__L6SHM.button_fill-wh__2q_-L {
    border-color: #ffb300;
    background: #ffb300;
}
.Footer_wrapper__1QAzA .Footer_column__34jRc h4 {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 32px;
}
.Footer_wrapper__1QAzA .Footer_column__34jRc a, .Footer_wrapper__1QAzA .Footer_column__34jRc h4 {
    color: #fff;
}
.Footer_wrapper__1QAzA ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.Footer_wrapper__1QAzA ul:not(.Footer_socials__1B0_8) li {
    margin-bottom: 5px;
}
.Footer_wrapper__1QAzA ul:not(.Footer_socials__1B0_8) li a {
    opacity: .7;
    font-size: 15px;
    line-height: 24px;
}
.Footer_wrapper__1QAzA ul:not(.Footer_socials__1B0_8) li:last-child {
    margin-bottom: 0;
}
.Footer_wrapper__1QAzA ul.Footer_socials__1B0_8 {
    margin-top: 40px;
}
.Footer_wrapper__1QAzA ul.Footer_socials__1B0_8 li {
    display: inline-block;
    margin-right: 20px;
}
.Footer_wrapper__1QAzA ul.Footer_socials__1B0_8 li a {
    opacity: .7;
    color: #fff;
    transition: opacity .35s ease-out;
}
.Footer_wrapper__1QAzA ul.Footer_socials__1B0_8 li:last-child {
    margin-right: 0;
}
.show-lg, .show-md, .show-sm, .show-xsm {
    display: none;
}
.Footer_wrapper__1QAzA .Footer_copyright__1qkvx {
    margin-top: 72px;
}
.Footer_wrapper__1QAzA .Footer_copyright__1qkvx p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #a2a2b0;
}
.cookies_cookieValidations__G_jPU {
    left: 0;
    bottom: 0;
    z-index: 6;
    width: 100vw;
    padding: 30px;
    display: flex;
    position: fixed;
    align-items: center;
    background-color: #f7f7f7;
    justify-content: space-between;
    transform: translateY(100%);
    transition: .5s ease-in-out;
}
.cookies_contentHolder__Dl21u {
    max-width: 70vw;
    padding-right: 20px;
}
.cookies_title__3PBTn {
    font-size: 16px;
    margin-bottom: 3px;
    line-height: 22px;
}
.cookies_content__a-koV {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 17px;
}
p a {
    color: #464662;
    font-weight: 600;
}
.cookies_btnCookies__1qoy_ {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    min-width: 150px;
    padding: 10px 20px;
    text-align: center;
    background-color: #17173a;
}
.hsds-beacon {
    box-sizing: border-box;
    font-family: var(--HSDSGlobalFontFamily);
    font-size: var(--HSDSGlobalFontSize);
}
.hsds-beacon *, .hsds-beacon ::before, .hsds-beacon ::after {
    box-sizing: border-box;
}
.hsds-beacon .cdAevD {
    bottom: 0px;
    content: "";
    height: 400px;
    pointer-events: none;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    width: 400px;
    will-change: left, right, background, opacity;
    background: radial-gradient(at right bottom, rgba(0, 0, 0, 0.1) 0px, rgba(0, 0, 0, 0) 75%);
    opacity: 0;
    position: fixed;
    z-index: 1051;
    right: 0px;
}
.hsds-beacon .BeaconContainer {
    box-shadow: none!important;
    transform: translate(0)!important;
}
.hsds-beacon .iLeqUU.is-rendered {
    display: block;
}
.hsds-beacon .BeaconContainer .c-BeaconCloseButton {
    position: absolute;
    width: 60px;
    height: 60px;
    top: auto;
    bottom: 0;
    margin-left: auto;
    padding: 0;
    border-radius: 50%;
    background-color: #ffa105;
    box-shadow: 0 4px 7px rgb(0 0 0 / 10%);
    transition: background-color .2s linear 0s,transform .2s linear 0s;
}
.hsds-beacon .BeaconContainer .c-BeaconCloseButton span {
    display: none;
}
.hsds-beacon .lbFAFy {
    position: relative;
    top: -0.5px;
}
.hsds-beacon .iLeqUU .c-Icon {
    position: absolute;
    right: 4px;
    top: -2px;
}
.hsds-beacon .lhTUZR.is-24 {
    height: 24px;
    width: 24px;
}
.enterprise-wrapper .enterprise .enterprise-rect-4 {
    position: absolute;
    bottom: 5%;
    left: -300px;
    animation: left-to-right linear infinite;
    animation-duration: 30s;
    animation-delay: 11s;
}
.enterprise-wrapper .enterprise .enterprise-rect-5 {
    position: absolute;
    bottom: 5%;
    left: -300px;
    animation: left-to-right linear infinite;
    animation-duration: 30s;
    animation-delay: 0s;
}
.enterprise-wrapper:after {
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #17173a;
}
.IntegrationsSection_wrapper__2X-Ez .IntegrationsSection_integrations__54IPA ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    will-change: transform;
}
.enterprise-wrapper {
    z-index: 3;
    position: relative;
}
.navbar-primary.floating .navbar-toggler {
    filter: brightness(1) invert(0);
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.megamenu .dropdown-menu {
    position: relative;
    width: 888px;
    padding: 0;
    background: #fff;
    box-shadow: 0 24px 40px rgb(23 23 58 / 12%);
    border-radius: 12px;
    border: none;
}
button:focus:not(:focus-visible) {
    outline: 0;
}
.get-started_wrapper__11EWV.inputHolder.get-started_error__W8HIq:before {
    top: -10px;
    left: 15px;
    color: #17173a;
    font-size: 12px;
    line-height: 16px;
}
.get-started_wrapper__11EWV.inputHolder:before {
    background-color: #fff;
}
.main_section__1ccNr .main_smRectangle__fjL4K {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(57%);
}
.menuAppear .navigation__trigger span:first-child {
    top: 7px;
    width: 0;
    left: 50%;
}
.navigation__trigger span {
    opacity: 1;
    display: block;
    position: absolute;
    height: 2px;
    background: #17173a;
    border-radius: 9px;
    transform: rotate(0);
    transition: .25s ease-in-out;
}
.menuAppear .navigation__trigger span:nth-child(2) {
    transform: rotate(
45deg);
}
.menuAppear .navigation__trigger span:nth-child(3) {
    transform: rotate(
-45deg);
}
.navigation__trigger span {
    opacity: 1;
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #17173a;
    border-radius: 9px;
    transition: .25s ease-in-out;
}
.menuAppear .navigation__trigger span:nth-child(4) {
    top: 7px;
    width: 0;
    left: 50%;
}
.megamenu .dropdown-menu .menu-item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #e8e8eb;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    position: relative;
}
ul.integrations-right {

display: flex; flex-flow: row nowrap; align-items: center; animation: 87.5745s linear 0s infinite reverse none running infiniteslide16397493781502501;  

}
ul.integrations-right:hover {

display: flex; flex-flow: row nowrap; align-items: center; animation: 87.5745s linear 0s infinite reverse none paused infiniteslide16397493781502501;  

}
ul.integrations-left{
    display: flex; flex-flow: row nowrap; align-items: center; animation: 87.5745s linear 0s infinite normal none running infiniteslide163974937815152f;
}
ul.integrations-left:hover{
    display: flex; flex-flow: row nowrap; align-items: center; animation: 87.5745s linear 0s infinite normal none paused infiniteslide163974937815152f;
}





.columns_123 {
    float: left;
    width: 26.3%;
    padding: 35px;
    margin-right: -53px;
}

.price-123 {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}


.price-123 .header {
  background: linear-gradient(to right bottom,#ffb905,#f90);
  color: white;
  font-size: 25px;
}

.price-123 li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price-123 .color-12 {
  background: #ffa702;
  font-size: 20px;
}
.price-123 .color-12:hover {
  background: green;
}

.price-123:hover {
  transform: translateY(-5px) scale(1.050) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.price-123:hover .overlay {
  transform: scale(4) translateZ(0);
}

.price-123:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.price-123:hover .circle:after {
  background: var(--bg-color-light);
}

.price-123:hover p {
  color: var(--text-color-hover);
}

.price-123:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.color-13:hover {
    background: #18ff09;
}
.button-123 {
  
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}


.price-123 .color-12:hover {
    background: linear-gradient(to right bottom,#ff05f7,#f90);
}
.pricing {
    margin-left: 69px;
        margin-top: 100px;
}
big {
    color: #17173a;
}
html {
  scroll-behavior: smooth !important;
}
a.btn.purpleBtn:hover{
    background: linear-gradient(to right bottom,#ff05f7,#f90);
}
a.btn.orangeBtn:hover{
    background: linear-gradient(to right bottom,#ff05f7,#f90);
}
a.button_btn__L6SHM.button_fill-wh__2q_-L.button_color-pg__35yAB:hover{
    background: linear-gradient(to right bottom,#ff05f7,#f90);
}
a.button_btn__L6SHM.button_fill-pg__FSiK3.button_md__KGmnL:hover {
background: linear-gradient(to right bottom,#ff05f7,#f90);}
a.button_btn__L6SHM.button_fill-pg__FSiK3:hover{
    background: linear-gradient(to right bottom,#ff05f7,#f90);
}
a.btn.purpleBgBtn:hover{
   background: linear-gradient(to right bottom,#ff05f7,#f90);
}
a.btn.btn-login:hover{
    background: linear-gradient(to right bottom,#ff05f7,#f90);
}
a.btn.btn-account:hover{
    background: linear-gradient(to right bottom,#ff05f7,#f90);
}
a.btn.orangeBgBtn:hover{
    background: linear-gradient(to right bottom,#ff05f7,#f90);
}

@media only screen and (max-width: 831px) {
  .columns_123 {
    width: 100%;
  }
  .columns_123 {
    margin-left: initial;
}
}












* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Proxima,sans-serif;
}

.nav {
  
  background-color: white;
  position: relative;
}
@media(max-width: 990px){
.nav {
  height: 50px;
  width: 100%;
  background-color: white;
  position: relative;
}}
.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}
.nav > .nav-links > a {
  display: none;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}
@media(max-width: 970px){
.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}}
@media(max-width: 970px){
.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}}

.nav > #nav-check {
  display: none;
}


@media (max-width:970px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);

  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #121212;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 206px;
    overflow-y: auto;
  }
}

  
  
.button {
  background-color: rgba(23,23,58,.15);
  border: none;
  color: #17173a;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
@media(max-width: 970px){
    .button {
  background-color: rgba(23,23,58,.15);
  border: none;
  color: #17173a;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button.button {
   float: right;
   margin-right: 400px;
}
button.button:hover {
    background-color: #18ff09;
}

}
@media(max-width: 633px){
    button.button {
   
    margin-right: 203px;
}
}

}






































@media(max-width: 528px){
    a.btn.orangeBgBtn {
    margin-top: auto;
}
}

@media(min-width: 490px){
    a.btn.orangeBgBtn {
    display: initial;
}
}

@media (min-width: 576px){
.container, .container-sm {
    max-width: 540px;
}
a.btn.orangeBgBtn {
    margin-top: auto;
}
}
@media (min-width: 836px){
    .price-123 .header{
        font-size: 19px;
    }
.button-123 {
    padding: 10px 8px;
}
}
@media(max-width: 767px){
    .main_section__1ccNr .main_logosWrapper__1lo4f .main_logos__3V1kS .main_logo__e_bM4 {
    padding: 20px 40px;
}
}
@media (max-width: 991px){
.navbar-primary .btn-create-account {
    font-size: 11px;
    margin-right: -52px;
    padding: 9px 15px!important;
}
.navbar-light .navbar-toggler {
    margin-right: 10px;
}
.button-123 {
    padding: 10px 0px;
}
.navbar-toggler {
    z-index: 99;
    position: relative;
    display: inline-block;
}

.main_section__1ccNr .main_logosWrapper__1lo4f .main_logos__3V1kS .main_logo__e_bM4 {
    max-width: 33.33%; padding: 28px 64px;}
    
.Footer_wrapper__1QAzA .Footer_header__1kBlJ .Footer_cta__PVakW {
    flex: auto;
    flex-shrink: 0;
    padding: 0;
}
.navbar-collapse {
    background: #fff;
    background-image: url(https://d2oupip9s5ltdo.cloudfront.net/cdn/webassets/img/menu-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: fixed;
    padding-top: 115px;
    width: 100%;
    left: 0;
    z-index: 9;
    height: 100vh;
    overflow: hidden;
    -webkit-transition: .5s ease-in-out;
    top: -100vh;
}
.navbar-nav {
    margin: 0;
    margin-left: 0!important;
}
.mainNav, .sideNav {
    -webkit-transition: .5s ease-in-out;
}
.navbar-primary .nav-item {
    position: relative;
}
.only-for-lg {
    display: none!important;
}
.navbar-primary .nav-item:first-child .nav-link {
    border: none;
}
.navbar-primary .nav-item .nav-link {
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: .3px;
    color: #17173a!important;
    padding: 16px 12px;
}
.main_section__1ccNr .main_logosWrapper__1lo4f .main_logos__3V1kS .main_logo__e_bM4 {
    max-width: 33.33%;
    padding: 28px 64px;
}
.menuAppear .navbar-collapse {
    top: 0;
}
.menuAppear .navbar-primary .navbar-toggler {
    filter: brightness(1) invert(0);
}
.megamenu .dropdown-menu .menu-item {
    margin-left: 0;
}
.CTASection_wrapper__3kgnh .CTASection_dot__1tTqd.CTASection_right__3Fx-s {
    transform: translateY(-70%);
}
:root {
    --g-width: 720px;
}
.main_section__1ccNr .main_logosWrapper__1lo4f .main_logos__3V1kS {
    flex-wrap: wrap;
}

}
@media (min-width: 992px){
.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.d-lg-none {
    display: none!important;
}
.navbar-expand-lg .navbar-toggler {
    display: none;
}
.megamenu .subMenuSP {
    width: 100vw;
    padding: 0 24px;
    border: none;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.main_section__1ccNr .main_rectangle__2VaGt svg {
    width: 100%;
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}
.col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
}
@media (min-width: 1200px){
.navbar-primary .navbar-brand {
    min-width: 12.375rem;
    padding: 0 0 0 20px;
}
.review-and-ucg {
    padding-top: 6.0625rem;
    padding-bottom: 11rem;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
.section-heading-style-three .heading-title {
    font-size: 3rem;
    line-height: 4rem;
    margin-top: 92px;
}
.section-heading-style-four .heading-desc, .section-heading-style-four .heading-title, .section-heading-style-three .heading-desc {
    font-size: 1.75rem;
    line-height: 2.25rem;
}
.marketing-solutions .marketing-solution-item .heading {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.marketing-solutions .marketing-solution-item .desc {
    margin-bottom: 1.5rem;
}
.section-heading-style-one .heading-desc, .section-heading .heading-desc {
    line-height: 1.5rem;
}
.loyalty-and-reward {
    padding-bottom: 7.5rem;
}
.testimonial-section {
    margin-bottom: 9.125rem;
}
.testimonial-section .section-heading {
    margin-bottom: 5.625rem;
}
.testimonial-section .section-heading .heading-title {
    font-size: 3.5rem;
    line-height: 4rem;
}
}
@media (max-width: 970px)
.nav > .nav-links > a :hover{
 background-color: black;
}





@media (max-width: 1899px){
.review-and-ucg {
    background-size: 55% 88%;

}
.loyalty-and-reward {
    background-size: 40% 88%;
}
}

@media (min-width: 768px){
.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}}
@media(min-width: 798px){
    img.color {
    margin-left: 20px;
}
}
@media(min-width: 648px){
    img.color {
    margin-left: 22px;
}
}
}


