body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

header .navbar {
    background-color: #e8ebec !important;
}

header .navbar-light .navbar-nav .nav-link {
    color: #565a5c !important;
}

.banner {
    background-color: #1a412f;
    height: 400px;
}

.banner h1 {
    color: #fff;
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 0.25rem;
    text-align: center;
    text-transform: uppercase;
}

.banner h2 {
    font-size: 3rem;
    line-height: 1;
    color: #00b373;
    text-align: center;
    font-style: italic;
}

.search-div {
    text-align: center;
    position: relative;
}

i.fa.fa-map-marker {
    position: absolute;
    font-size: 20px;
    top: 14px;
    color: #ff585d;
    left: 21%;
}

button.order-box__submit {
    background-color: #ff585d;
    color: #fff;
    border: none;
    padding: 12px;
    width: 115px;
    margin-left: -5px;
    border-radius: 0px 3px 3px 0px;
}

input.search-bar {
    padding: 12px 10px 12px 45px;
    width: 50%;
    font-size: 16px;
    border-radius: 3px 0px 0px 3px;
    border: none;
}

.row.pt-5.banner-search p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-left: auto;
    margin-right: auto;
    color: #ccc;
    text-align: center;
}

.home-learn-more-header {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1.25rem;
    color: #064e3b;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #064e3b;
}

.trusted-by {
    background-color: #d9f4e9;
}

.trusted-by img {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    width: 100%;
    min-width: 500px;
}

.trusted-by h2 {
    font-size: 1.5rem;
}

.support-company img {
    width: 100%;
}

section.green-section.support-company {
    background: url(..images/img/support-company.png) no-repeat;
    background-position: center;
    background-size: cover;
    background-color: unset;
}

section.green-section.setup-employee {
    background-image: url('../images/img/setup-bg.svg');
    background-position: center;
    background-size: cover;
    background-color: unset;
}

section.green-section.setup-employee {
    background-color: #fed401 !important;
}

.setup-employee p.section-cta a {
    color: #000;
}

.section-copy--white {
    color: #fff;
    padding-bottom: 2rem;
}

.section-header {
    font-size: 3rem;
    line-height: 1;
}

.section-copy {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
}

section.green-section {
    width: 100%;
    background-color: #00b373;
}

.boxed-lunches-text-container {
    text-align: left;
    padding: 20px;
}

.section-copy--white a {
    color: #fff;
}

.weve-got-you-covered-icon {
    display: inline-block;
    padding-top: 0px;
    position: absolute;
    left: 26%;
    top: 26%;
}

.weve-got-you-covered-stat-figure {
    border-radius: 9999px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    width: 120px;
    background-color: #f1fbf7;
    position: relative;
}

.weve-got-you-covered-stat-paragraph {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 0.75rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section.weve-got-you-covered {
    padding: 50px 0px;
}

.grow-and-manage {
    overflow-x: hidden;
    background-color: #f1fbf7;
}

.weve-got-you-covered-stat-item {
    margin-bottom: 4rem;
    width: 50%;
}


.weve-got-you-covered-heading {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 5rem;
}

.grow-and-manage-text-container {
    color: #063938;
}

.grow-and-manage-body {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    position: relative;
    text-align: left;
}

.section-header {
    font-weight: 800;
    font-size: 3rem;
    line-height: 2.25rem;
    line-height: 2.5rem;
    padding-bottom: 1.5rem;
}

@media (min-width: 1140px) {
    .grow-and-manage-body {
        padding-left: 8rem;
    }
}

@media (min-width: 768px) {
    .grow-and-manage-body {
        flex-direction: row;
        padding-left: 2.5rem;
    }

    .weve-got-you-covered-heading {
        font-size: 3rem;
        line-height: 1;
        text-align: center;
        margin-bottom: 2rem;
    }

    .section-copy {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .section-cta {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .grow-and-manage-text-container {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 0;
        padding-right: 0;
        width: 60%;
    }

    .grow-and-manage-image-container-tablet-up {
        display: block;
        width: 40%;
    }

    .weve-got-you-covered-stat-item {
        width: 25%;
    }
}

.section-copy--paragraph {
    padding-bottom: 1.5rem;
}

.grow-and-manage-paragraph {
    width: 24rem;
}

.section-copy--blue {
    color: #2563eb;
    font-weight: 700;
}

.weve-got-you-covered-content figcaption {
    float: left;
    width: 100%;
    text-align: center;
}

.marketing-footer {
    border-top: 1px solid #f2f3f5;
    background-color: #565a5c;
}

.marketing-footer__product-description {
    color: #fff;
    font-size: 23px;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.footer__links-title {
    color: #fff;
    font-weight: 700;
    font-size: 17px;
}

.marketing-footer__links-title {
    color: #fff;
    font-weight: 700;
    font-size: 17px;
}

.marketing-footer__link {
    transition-property: color;
    transition-duration: .25s;
    transition-timing-function: ease-out;
    color: #fff;
    font-size: 16px;
    line-height: 1.995;
}

img.left-image {
    position: absolute;
    left: -15%;
    top: -35%;
    width: 400px;
}

img.right-image {
    position: absolute;
    right: -16%;
    top: -17%;
    z-index: 99999 !important;
}

section.learn-more {
    position: relative;
    overflow: hidden;
}

@media(max-width:575px) {
    img.right-image, img.left-image {
        display: none;
    }

    section.green-section img {
        width: 100%;
    }

    img.grow-and-manage-image-tablet-up.lazyloaded {
        width: 100%;
    }

    .trusted-by img {
        min-width: 100%;
    }

    .section-header {
        font-size: 2rem;
    }
}




/* Listing Page  */
.save-btn {
    background-color: #3e90d6;
    color: #fff;
    padding: 4px 15px 3px 15px;
    border-radius: 5px;
    float: left;
    margin-left: 5px;
}

input.listing-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 14px;
    float: left;
    width: 70%;
}

a.delivery {
    background-color: #ebf7ff;
    padding: 5px 25px;
    font-size: 14px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #3e90d6;
}

a.checkout {
    background-color: #fff;
    padding: 5px 25px;
    font-size: 14px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #ccc;
    margin-left: -5px;
}

.listing-icons .fa:before {
    background-color: #effaf6;
    padding: 40px;
    border-radius: 50%;
    font-size: 49px;
    color: #00ab6c;
}

.listing-categories p {

    font-weight: 600;
    font-size: 18px;
    position: relative;
    top: 50px;

}

.search-bar label {
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 600;
}

.search-bar input {
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
}

.left-box h5 {
    font-size: 16px;
}

.left-box p {
    font-size: 14px;
}

.listing-box {
    display: flex;
    background-color: #fff;
    box-shadow: 4px 4px 15px #ccc;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.listing-box:hover {
    background-color: #e5e5e5;
}

.listing-box img {
    width: 220px;
}

.white-box h3 {
    font-size: 20px;
}

.white-box p {
    font-size: 16px;
    margin-bottom: 5px;
}

.white-box {
    padding: 10px;
    width: 100%;
}

.white-box .last-order {
    color: #a5a5a5;
}

.reviews i {
    color: #e9a801;
}

a.select {
    background-color: #ff6b1e;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    top: 30%;
}
a.select:hover{
    text-decoration: none;
    color:#fff;
}
.left-box {
    background-color: #f4f7f8;
    margin: 20px 0px;
    padding: 10px;
    text-align: justify;
}

.listing-heading {
    font-size: 1.5rem;
}

section.listing-form {
    box-shadow: 2px 3px 4px #ccc;
}

p.image-text {
    position: absolute;
    left: 0px;
    background-color: #3c3f40;
    color: #fff;
    padding: 2px 10px;
    font-size: 16px;
    bottom: 0px;
    margin: 0px;
}

.checkout-modal img {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #cccc;
    height: 300px;
}

.checkout-modal h1 {
    font-size: 22px;
    margin-top: 20px;
}

.checkout-modal h2 {
    font-size: 20px;
}

.checkout-modal p {
    font-size: 16px;
}

.checkout-modal .fa::before {
    background-color: #e9e9e9;
    font-size: 14px;
    padding: 8px 10px;
    height: 10px;
    color: #8d8888;
}

.checkout-modal textarea {
    border: 1px solid #ccc;
    padding: 5px;
    height: 100px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
}

.order-num span {
    margin: 0px 12px;
    font-size: 18px;
}

.checkout-modal .modal-footer {
    display: block;
    background-color: #fff;
    border: none;
    padding: 0px;
}

.order-num {
    padding: 20px;
}

.add-to-order {
    color: #fff;
    background-color: #ed1d24;
    padding: 22px;

}

.add-to-order a {
    color: #fff;
}

.add-to-order span {
    float: right
}

.checkout-modal .modal-content {
    background-color: #f9fafb;
}

.checkout-modal .modal-header {
    padding: 10px 10px;
    border: none;
}

header .navbar-light .navbar-nav a.nav-link.checkout-btn, a.checkout-modal-btn, a.add-to-order-btn {
    background-color: #ed1d24;
    color: #fff !important;
    border-radius: 5px;
    padding: 5px 5px;
    display: block;
    text-align: center;
}

a.checkout-modal-btn:hover {
    text-decoration: none;
}

.modal-header, .modal-footer {
    border: none;
}

div#CartModal h1, div#CartSecondModal h1 {
    font-size: 20px;
}

div#CartModal .table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
    border-top: none;
    color: #979393;
    font-weight: 500;
}

div#CartModal .table td {
    color: #333;
}

div#CartSecondModal img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

div#CartSecondModal h2 {
    font-size: 18px;
    margin: 10px 0px;
}

div#CartSecondModal h3 {
    font-size: 18px;
    color: #979393;
}

a.no-go-to-checkout {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    padding: 12px 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
}

a.add-to-order-btn {
    text-transform: uppercase;
}

.card-box {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.box-padd {
    padding: 10px;
}

a:hover {
    text-decoration: none;
}

.order-box {
    border: 1px solid #e1e1e1;
    padding: 20px 20px;
    margin: 40px 0px;
    border-radius: 5px;
}

.order-box span {
    padding: 3px 8px;
    border: 1px solid #333;
    border-radius: 50%;
    margin-right: 10px;
}

.order-box h1 {
    font-size: 18px;
    margin: 0px;
}

.place-order label {
    width: 100%;
}

.place-order input {
    border: 1px solid #ccc;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #edecec;
    width: 100%;
}

.order-box.order-info {
    background-color: #edecec;
}

a.continue-btn, a.place-order {
    background-color: #ed1d24;
    color: #fff !important;
    border-radius: 5px;
    padding: 10px 10px;
    display: block;
    text-align: center;
    margin: 10px 0px;
}

.right-box h2 {
    font-size: 20px;
    text-transform: capitalize;
}

.right-box {
    background-color: #f3f4f6;
}

table.table.sub-total-table {
    background-color: #fff;
}

a.place-order {
    text-transform: uppercase;
}

.cart-btn {
    background-color: #00b373;
    color: #fff;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 3px;
}
a.cart-btn:hover {
    text-decoration: none;
    color: #fff;
}
footer hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 1px solid #383737;
}
.copyrights a{
    color: #a1a0a0;
    font-size: 14px;
    padding: 0px 8px;
    display: inline-block;
    text-decoration: underline;
}
.copyrights span{
    color: #a1a0a0;
    font-size: 14px;
}
footer ul li a:hover{
    color: #ff6b1e;
    text-decoration: none;
}

@media (min-width: 576px) {
    .checkout-modal .modal-dialog, div#CartSecondModal .modal-dialog {
        max-width: 900px;
        margin: 1.75rem auto;
    }
}

@media(max-width:767px) {
    .listing-categories p {
        top: 10px;
    }
    footer ul{
    margin-bottom: 0px;
}
    input.search-bar {
        padding: 12px 10px 12px 25px;
        font-size: 14px;
        width: 60%;
    }

    i.fa.fa-map-marker {
        left: 9%;

    }

    button.order-box__submit {
        padding: 10px 11px 11px 11px;

    }

    .listing-icons .fa:before {

        display: inline-block;
    }

    a.select {
        top: 4%;
    }

    .listing-box img {
        width: 150px;
    }

    p.image-text {
        top: 0px;
        bottom: unset;
    }

}

@media(max-width:575px) {
    .listing-box {
        display: block;
    }

    .listing-box img {
        width: 100%;
        height: 180px;
    }

    .banner h1, .banner h2 {
        font-size: 2rem;
        line-height: 1.5;
    }

    .weve-got-you-covered-heading {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .marketing-footer {
        text-align: center;
    }
}

@media (min-width: 992px) {
    header .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}