.navbar .theme-brand li.theme-logo img {
    width: 183px;
    height: auto;
}

.navbar {
    background: #e8eaec;
}

.sub-header-container {
    top: 74px;
}

.layout-top-spacing {
    margin-top: 40px;
}
 #user-title {
     padding-top: 13px;
     color: #000;
 }

 .default-subscription-input{
     width: 200px;
 }

@media (min-width: 1500px) {
    .navbar .navbar-item .nav-item .form-inline.search .search-form-control {
        width: 780px;
    }
}

@media (min-width: 1000px) and (max-width: 1500px) {
    .navbar .navbar-item .nav-item .form-inline.search .search-form-control {
        width: 500px;
    }
}

.navbar .ml-md-0, .mx-md-0{
    margin-left: auto !important;
}
